@import "_variables";

.home {
  height: 400px;
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 400px;
  margin: 50px auto 0 auto;
  position: relative;

  .triangle {
    position: absolute;
    transform: translateX(-150px) translateY(50px);
  }

  .home__item {
    width: 120px;
    height: 120px;
    position: absolute;
    transition: 0.2s;

    &.home__paper {
      transform: translateX(0px);
      @include play-item(blue);
      &:hover {
        transform: translateX(0px) scale(1.2);
      }
    }

    &.home__scissors {
      transform: translateX(230px);
      @include play-item(yellow);
      &:hover {
        transform: translateX(230px) scale(1.2);
      }
    }

    &.home__rock {
      transform: translateX(120px) translateY(230px);
      @include play-item(red);
      &:hover {
        transform: translateX(120px) translateY(230px) scale(1.2);
      }
    }
  }
}
