@import "_variables";

.home {
  height: 400px;
  width: 100%;
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 400px;
  flex: 1;
  position: relative;

  .triangle {
    position: absolute;
    transform: translateX(-150px) translateY(50px);
  }

  .home__item {
    width: 120px;
    height: 120px;
    position: absolute;
    transition: 0.2s;
    border-radius: 50%;
    border: 18px solid;

    &.home__paper {
      $position-x: 0px;
      transform: translateX($position-x);
      @include play-item($paper-color);
      &:hover {
        transform: translateX($position-x) scale(1.2);
      }
    }

    &.home__scissors {
      $position-x: 250px;
      transform: translateX($position-x);
      @include play-item($scissors-color);
      &:hover {
        transform: translateX($position-x) scale(1.2);
      }
    }

    &.home__rock {
      $position-x: 125px;
      $position-y: 230px;
      transform: translateX($position-x) translateY($position-y);
      @include play-item($rock-color);
      &:hover {
        transform: translateX($position-x) translateY($position-y) scale(1.2);
      }
    }
  }
}
