.play-wrapper {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 60px;

  .game__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    &.invisible {
      display: none;
    }

    h3 {
      text-transform: uppercase;
      font-size: 2.5em;
      margin-bottom: 10px;
    }

    .play-again__button {
      background-color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: $border-radius-title-button;
      font-size: 0.8em;

      &:hover {
        color: red;
      }
    }
  }

  .pick {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pick__title {
      text-transform: uppercase;
    }

    .pick__item {
      margin: 50px 40px 0 40px;
      width: 200px;
      height: 200px;
      background-size: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      border: 18px solid;
      border-color: transparent;
      font-size: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &.pick__scissors {
        @include play-item(yellow);
      }

      &.pick__paper {
        @include play-item(blue);
      }

      &.pick__rock {
        @include play-item(red);
      }
    }
  }
}
