@import "_variables";
@import "_header";
@import "_scorebox";

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: $background-gradient;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}
